<div class="login-container">
  <h4 class="text-center">Iniciar Sesion</h4>
  <%= form_tag sessions_path, {:class => 'comment_form'} do %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email], :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password], :class => 'form-control' %>
    </div>
    <div class="actions"><%= submit_tag "Log In", class: "btn btn-info btn-block login" %></div>
  <% end %>
</div>