<div class="form profile">
  <%= form_for [:admin, :polygon, @tour] do |f| %>
      <div class="row">
        <% if @tour.errors.any? %>
          <div class="alert alert-danger">
            <strong><%= pluralize(@tour.errors.count, "Error") %></strong> prohibieron a este recorrido guardar la informaci칩n!
            <ul>
              <% @tour.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <%= f.hidden_field :coordinates, :id=> "mapCoords"%>
      <%= f.hidden_field :colors, :id=> "PolygonColors"%>
      <div class="form-group">
        <%= f.label :name, "Nombre del recorrido" %>
        <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre del recorrido" %>
      </div>
      <%= f.hidden_field :polygon_id, :value => params[:polygon_id] %>
      <div class="form-group">
        <%= f.label :description, "Descripci칩n" %>
        <%= f.text_area(:description, rows: 5, class: 'form-control', placeholder: "Descripci칩n") %>
      </div>
      <div class="form-group">

        <%= f.label :start_date, "Fecha" %>
        <div id="datetimepickertour" class="input-append">
          <%= f.text_field :start_date, :class => "form-control dtpicker", :placeholder => "Fecha de inicio", :"data-format"=>"yyyy-MM-dd hh:mm", :style=>"max-width:150px", :value => @tour.start_date.present? ? @tour.start_date.strftime("%Y-%m-%d %I:%M") : ""%>
          <span class="add-on">
            <i data-time-icon="fa fa-time" data-date-icon="fa fa-calendar" class="btn btn-info"></i>
          </span>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit params[:id].present? ? "Actualizar" : "A침adir", :class => 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>