<%= form_for [:admin, @tour] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :coordinates %><br />
    <%= f.text_area :coordinates %>
  </p>
  <p>
    <%= f.label :polygon_id %><br />
    <%= f.number_field :polygon_id %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p><%= f.submit %></p>
<% end %>
