<div class="page-head">
  <h2 class="pull-left">Editar Idea/Solucion</h2>
  <div class="pull-right"></div>
  <div class="clearfix"></div>
  <!-- Breadcrumb -->
  <div class="bread-crumb">
    <a href="index.html"><i class="fa fa-home"></i> Inicio</a>
    <!-- Divider -->
    <span class="divider">/</span>
    <a href="index.html"><i class="fa fa-map-marker"></i> Idea/Solucion</a>
    <span class="divider">/</span>
    <a href="#" class="bread-current">Editar Idea/Solucion</a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="matter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= form_for [:admin, @alternative] do |f| %>
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">Informacion Basica de la solucion</div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <div class="padd">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :name, "Titlo" %>
                      <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Titlo" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                     <%= f.label :category_id, "Categoria de la Solucion" %>
                    <%= f.grouped_collection_select(:category_id, ParentCategory.all, :categories, :name, :id, :name, { :include_blank => "Selecciona..." }, {:class => "form-control", :required=>"required"} ) %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :description, "Descripción de las acciones principales" %>
                  <%= f.text_area(:description, rows: 5, class: 'form-control', placeholder: "Descripción de las acciones principales") %>
                </div>
              </div>
              <div class="widget-foot text-center">
                <%= f.submit "Guardar", :class => 'btn btn-success' %>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="widget">
            <div class="widget-head">
              <div class="pull-left">Características de la Solucion</div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget-content">
              <div class="padd">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :group_benefited, "Grupo de edad beneficiado" %>
                        <%= f.text_field :group_benefited, :class => "form-control input-lg", :placeholder => "Grupo de edad beneficiado" %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :quantity_benefited, "Cantidad de la Población beneficiaria" %>
                        <%= f.text_field :quantity_benefited, :class => "form-control input-lg", :placeholder => "Cantidad de la Población beneficiaria" %>
                      </div>
                    </div>
                  </div>

                  <h4>Presupuesto</h4>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :budget_expected, "Presupuesto contemplado" %>
                        <%= f.text_field :budget_expected, :class => "form-control input-lg", :placeholder => "Presupuesto contemplado" %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :assigned_budget, "Presupuesto asignado" %>
                        <%= f.text_field :assigned_budget, :class => "form-control input-lg", :placeholder => "Presupuesto asignado" %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :start_date, "Fecha de inicio" %>
                        <div id="datetimepicker1" class="input-append">
                          <%= f.text_field :start_date, :class => "form-control dtpicker", :placeholder => "Fecha de inicio", :"data-format"=>"yyyy-MM-dd" %>
                          <span class="add-on">
                            <i data-time-icon="fa fa-time" data-date-icon="fa fa-calendar" class="btn btn-info"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= f.label :end_date, "Fecha de término estimada" %>
                        <div id="datetimepicker1" class="input-append">
                          <%= f.text_field :end_date, :class => "form-control dtpicker", :placeholder => "Fecha de término estimada", :"data-format"=>"yyyy-MM-dd" %>
                          <span class="add-on">
                            <i data-time-icon="fa fa-time" data-date-icon="fa fa-calendar" class="btn btn-info"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h4>La institución responsable de implementar el proyecto</h4>

                  <div class="form-group">
                    <label for="">Actor Principal</label>
                    <!-- Actores en el mismo Municipio -->
                    <%= f.select(:actor_id, Actor.all.collect {|p| [ p.name, p.id ] }, { include_blank: "-- Selecciona" }, {:class => "form-control"} ) %>
                  </div>

                  <h4>Actores Relacionados</h4>

                  <div class="row">
                    <div class="col-md-6">
                      <ol class="form-inline">
                        <%= f.fields_for :actors_attributes do |builder| %>
                          <li>
                            <%= builder.select(:id, Actor.all.collect {|p| [ p.name, p.id ] }, { include_blank: "-- Selecciona" }, {:class => "form-control"} ) %>
                            <%#= link_to_add_fields "Agregar Mas", f, :actors %>
                            <button class="btn btn-danger btn-sm">Borrar</button>
                          </li>
                        <% end %>
                      </ol>
                    </div>
                  </div>

              </div>
              <div class="widget-foot text-center">
                <%= f.submit "Guardar", :class => 'btn btn-success' %>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    $('form').on('click', '.add_fields', function(event) {
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    });
  });  
</script>