<% title "Editar problema" %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,geometry,visualization,drawing"></script>
<%= stylesheet_link_tag "plugins/polygons", :media => "all" %>

<script>
  var markerCoords = <%= @problem.coords.present? ? @problem.coords.html_safe : [] %>;
  var coordsA;
  coordsA = markerCoords.A || markerCoords.B;
  var markerLatlng = new google.maps.LatLng(markerCoords.k,coordsA);
  var coordsVal = <%= raw @polygon.coords %>;
</script>
<div class="page-head">
    <h2 class="pull-left"><%= params[:id].present? ? "Editar Problema" : "Nuevo Problema" %></h2>
    <div class="pull-right">

    </div>
    <div class="clearfix"></div>
    <!-- Breadcrumb -->
    <div class="bread-crumb">
      <a href="/admin/dashboard"><i class="fa fa-home"></i> Inicio</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="/admin/polygons"><i class="fa fa-map-marker"></i> Polígonos</a>
      <span class="divider">/</span>
      <a href="/admin/polygons/<%=params[:polygon_id]%>/edit"><i class="fa fa-map-marker"></i> Editar polígono</a>
      <span class="divider">/</span>
      <a href="#" class="bread-current">Editar Problema</a>
    </div>

    <div class="clearfix"></div>
</div>

<div class="matter">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget">
          <div class="widget-head">
            <div class="pull-left">Editar polígono</div>
            <div class="widget-icons pull-right">
              <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget-content">
            <div class="padd">
              <div class="toolbar">
                <div class="col-md-3 col-xs-12">
                  <div id="color-palette" class="text-center"></div>
                </div>
                <form class="form-inline" role="form" onsubmit="">
                  <div class="form-group col-md-4">
                    <input id="search_address" type="text" class="form-control" placeholder="Search" value="Nicolas Romero, Guadalajara, Jalisco">
                  </div>
                  <button type="button" class="btn btn-default" value="Geocode" class="btn btn-default" onclick="codeAddress()">Buscar Direccion</button>
                  <button type="button" id="delete-button" class="btn btn-default ">Eliminar</button>
                </form>
              </div>
              <div class="toolbar" role="navigation"></div>
              <div id="map-canvas"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form' %>
  </div>
  </div>
<%= javascript_include_tag "vendor/edit-marker_problem.js" %>