<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :movil %><br />
    <%= f.text_field :movil %>
  </div>
  <div class="field">
    <%= f.label :municipio %><br />
    <%= f.text_field :municipio %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.hidden_field :password, :value => "goto2014" %>
  </div>
  <div class="field">
    <%= f.hidden_field :password_confirmation, :value => "goto2014" %>
  </div><br />
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>
