<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @message do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Contacto</h4>
        </div>
        <div class="modal-body">
          <%= f.label :name, "Nombre" %>
          <%= f.text_field :name, {:class => "form-control", :required => "required", :title => 'Requerido'} %>
          <%= f.label :email, "Correo" %>
          <%= f.text_field :email, {:class => "form-control", :required => "required"} %>
          <%= f.label :content, "Mensaje" %>
          <%= f.text_area :content, {:class => "form-control", :rows => "3", :required => "required"} %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Enviar", {:class=>"btn submit-btn"} %>
        </div>
      <% end -%>
    </div>
  </div>
</div>