
<div class="map-container">
  <div class="map-toolbar">
    <div class="container">
      <div class="map-toolbar-responsive">
        <a href="#" class="element-toggle" data-toggle="collapse" data-target=".filter-form"><i class="fa fa-th-large"></i> Filtros de la mapa</a>
      </div>
      <form action="" role="form" class="filter-form">
        <div class="row">
          <div class="col-md-4 col-xs-12 toolbar__form-group">
            <div class="toolbar__label">Reportes y Proyectos de</div>
            <div class="row">
              <div class="col-md-6 col-xs-6 toolbar__form-group-field">
                <select name="mapProjects" id="mapProjects" class="form-control select2-control" required="required">
                  <option></option>
                  <option value="Gobierno" selected>Gobierno</option>
                  <option value="Ciudadano‎">Ciudadano‎</option>
                </select>
              </div>
              <div class="col-md-6 col-xs-6 toolbar__form-group-field">
                <div class="checkbox">
                  <div class="bootstrap-switchy-container bootstrap-switchy-off pull-right">
                    <span class="bootstrap-switchy-status"></span>
                    <input type="checkbox" name="ModeratorFlag" id="ModeratorFlag" class="pull-right">
                  </div>
                  <label>Vista de Moderador</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 toolbar__form-group toolbar__form-group-field">
            <div class="toolbar__label">Categorias</div>
            <%= select_tag :category, option_groups_from_collection_for_select(@parents, :categories, :name, :id, :name, nil), :class=>"form-control select2-control", :id=>"problem_category_id"%>
          </div>
          <div class="col-md-5 col-xs-12 toolbar__form-group">
            <div class="row">
              <div class="col-md-6 col-xs-6 toolbar__form-group toolbar__form-group-field">
                <div class="toolbar__label">Estado</div>
                  <%= select_tag :estado, options_from_collection_for_select(@states, "id", "name"), :class=>"form-control select2-control", :id=>"polygon_state_id" %>
                </div>
              <div class="col-md-6 col-xs-6">
                <div class="toolbar__label">Polígono</div>
                <select id="polygon_select" class="form-control select2-control">
                  <option value=''>Selecciona el Estado</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="poligon-info" style="display: none">
    <a href="#" class="close" onclick="$('.poligon-info').hide()"></a>
    <h3>Polígono Minerva · <span>Guadalajara</span></h3>
    <div class="item first">
      <h4>Población</h4>
      <h5>2,458</h5>
      <p>Habitantes</p>
    </div>
    <div class="set">
      <h4>género</h4>
      <div class="item">
        <h5>39%</h5>
        <p>Hombres</p>
      </div>
      <div class="item">
        <h5>61%</h5>
        <p>Mujeres</p>
      </div>
    </div>
    <div class="set">
      <h4>Rangos de edad</h4>
      <div class="item">
        <h5>39%</h5>
        <p><a href="#">12-29 años</a></p>
      </div>
      <div class="item">
        <h5>61%</h5>
        <p><a href="#">30-60+ años</a></p>
      </div>
      <div class="more-info">
        <a href="#" class="close"></a>
        <h3>Rangos de Edad</h3>
        <div class="chart">
          <img src="images/chart.png" alt="">
        </div>
      </div>
    </div>
    <div class="item">
      <h4>NSE</h4>
      <h5>C+</h5>
      <p>(Prom.)</p>
    </div>
    <div class="item">
      <h4>escolaridad</h4>
      <h5>Sec</h5>
      <p>(Prom.)</p>
    </div>
    <div class="set nos">
      <div class="item">
        <h4>Economía</h4>
        <div class="ico">
          <img src="images/ico_m_1.png" alt="">
          <div class="count rr">7</div>
        </div>
        <p><a href="#">Actividades</a></p>
        <div class="more-info">
          <a href="#" class="close"></a>
          <h3>Principales Actividades</h3>
          <div class="content">
            <h6>Productivas</h6>
            <ul>
              <li><a href="#">Aprovechamiento forestal</a></li>
              <li><a href="#">Industrias Manufactureras</a></li>
            </ul>
            <h6>económicas</h6>
            <ul>
              <li><a href="#">Comercio</a></li>
              <li><a href="#">Restaurantes</a></li>
              <li><a href="#">Hoteles</a></li>
              <li><a href="#">Servicios financieros e inmobiliarios</a></li>
              <li><a href="#">Servicios educativos y médicos </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item pl">
        <h4>eventos</h4>
        <div class="ico">
          <img src="images/ico_m_2.png" alt="">
          <div class="count">2</div>
        </div>
        <p><a href="#">Programa</a></p>
      </div>
    </div>
    <div class="item pl">
      <h4>recorridos</h4>
      <div class="ico">
        <img src="images/ico_m_3.png" alt="">
        <div class="count">2</div>
      </div>
      <p><a href="#">Programa</a></p>
    </div>
    <div class="item pl">
      <h4>transporte</h4>
      <div class="ico">
        <img src="images/ico_m_4.png" alt="">
        <div class="count rr">8</div>
      </div>
      <p><a href="#">Rutas</a></p>
    </div>
    <div class="item">
      <h4>galeria</h4>
      <div class="ico">
        <img src="images/ico_m_5.png" alt="">
      </div>
      <p><a href="#">Fotos y video</a></p>
    </div>
  </div>
  </div>
  <div class="map-view" id="mainMap">
    Map
  </div>
</div>
<div class="unsuppoted hide">
  <div class="container">
    <h2>Usted está utilizando un navegador no compatible <small><br/>Por favor actualice a una de las siguientes opciones</small></h2>
    <div class="text-center">
      <a href="#"><img width="50" height="50" src="https://cdn1.iconfinder.com/data/icons/fs-icons-ubuntu-by-franksouza-/64/google-chrome.png" alt=""></a>
      <a href="#"><img width="50" height="50" src="https://cdn1.iconfinder.com/data/icons/humano2/72x72/apps/firefox-icon.png" alt=""></a>
      <a href="#"><img width="64" height="64" src="https://cdn1.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/64/safari_64.png" alt=""></a>
    </div>
  </div>
</div>
<script>
  var polyCoords;
  var polyColor = "<%= @polygon[:colors] %>";
  var coordsVal = <%= raw @polygon.coords %>;
  if ( typeof coordsVal === 'string') {
    polyCoords = JSON.parse(coordsVal);
  }
  var test = <%= raw @polygon.problems.map{|problem| problem.coords.html_safe} %>;
  var data = [ // map data
      <% @polygon.problems.each_with_index do |problem, index| %>
      
      {
        'id':<%=problem.id%>,
        'content':'<div class="itemb"><div class="orange">  <h2>Cuida-coches violentos</h2>  <div class="right">Resuelto</div><p>Minerva, Guadalajara</p></div><div class="left">Ver Proyecto</div><div class="like">7</div></div>',
        'position': {
          'lat':JSON.parse(test[<%=index%>])["k"],
          'lng':JSON.parse(test[<%=index%>])["A"] || JSON.parse(test[<%=index%>])["B"]
         }
      },
      <% end %>
    ]
</script>