<div class="map-container">
  <div class="map-toolbar">
    <div class="container">
      <div class="map-toolbar-responsive">
        <a href="#" class="element-toggle" data-toggle="collapse" data-target=".filter-form"><i class="fa fa-th-large"></i> Filtros de la mapa</a>
      </div>
      <form action="" role="form" class="filter-form">
        <div class="row">
          <div class="col-md-5 col-xs-12 toolbar__form-group">
            <div class="row">
              <div class="col-md-6 col-xs-6 toolbar__form-group toolbar__form-group-field">
                <div class="toolbar__label">Estado</div>
                  <%= select_tag :estado, options_from_collection_for_select(@states, "id", "name", @polygon.state_id), :prompt => "Selecciona el Estado", :class=>"form-control select2-control", :id=>"polygon_state_id" %>
                </div>
              <div class="col-md-6 col-xs-6">
                <div class="toolbar__label">Polígono</div>
                <select id="polygon_select" class="form-control select2-control-exec">
                  <% if @polygon %>
                    <option value=''>Selecciona el Polígono</option>
                    <% for polygon in @polygons %>
                      <option value="<%= polygon.id %>" <%= "selected" if polygon.id == @polygon.id %>><%= polygon.name %></option>
                    <% end %>
                  <% else %>
                    <option value=''>Selecciona el Polígono</option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 toolbar__form-group toolbar__form-group-field">
            <div class="toolbar__label">Categorias</div>
            <select class="form-control select2-control select2-offscreen" id="problem_category_id" name="category" tabindex="-1" title="">
            <option value="">Todas</option>
              <% @parents.each do |parent|%>
                <optgroup label="<%= parent.name %>">
                  <% parent.categories.each do |category|%>
                    <option value="<%= category.id%>"><%= category.name %> (<%= @polygon.problems.where(:category_id => category.id).size %>)</option>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
          </div>
          <div class="col-md-4 col-xs-12 toolbar__form-group">
            <div class="toolbar__label">Reportes y Proyectos de</div>
            <div class="row map-options">
              <div class="col-md-6  toolbar__form-group-field">
                <label class="btn btn-adopted">
                  <input type="checkbox" checked="" name="ciudadano"> <b>Ciudadano</b>
                </label>
              </div>
              <div class="col-md-6  toolbar__form-group-field">
                <label class="btn btn-adopted">
                  <input type="checkbox" checked="" name="admin"> <b>Administrador</b>
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="poligon-info-arrow excerpt-brief">
      <a href="#" class="info-toggle expand">Más información <i class="toggle-control"></i></a>
    </div>
    <div class="poligon-info" style="display: none">
      <i class="slider-control left"></i>
      <i class="slider-control right"></i>
      <div class="bar-label"></div>
      <a href="#" class="close"></a>
      <div class="poligon-info-header">
        <h3><%= @polygon.name %>, <%= @polygon.city_id %> ·
          <span><%= @polygon.state.name %></span>
        </h3>
      </div>
      <div class="media-links">
        <a href="#" id="trigger-arbol">ÁRBOLES</a>
        <a href="#" id="trigger-fotos">FOTOS</a>
        <a href="#" id="trigger-videos">VIDEOS</a>
        <a href="#" id="trigger-docs">DOCUMENTOS</a>
      </div>
      <div class="items-container">
        <div class="item first">
          <h4>Población</h4>
          <h5><%= @polygon.population %></h5>
          <p>Habitantes</p>
        </div>
        <div class="set" style="position:relative">
          <h4>género</h4>
          <div class="item">
            <h5><%= @polygon.women_perc %>%</h5>
            <p>Hombres</p>
          </div>
          <div class="item">
            <h5><%= @polygon.men_perc %>%</h5>
            <p>Mujeres</p>
          </div>
          <div class="more-info more-info-generos">
            <a href="#" class="close"></a>
            <h3>Población por género</h3>
            <div class="content">
              <h6>Hombres</h6>
              <ul>
                <li><%= number_with_delimiter(@polygon.men_pop) %></li>
              </ul>
              <h6>Mujeres</h6>
              <ul>
                <li><%= number_with_delimiter(@polygon.women_pop) %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="set">
          <h4>Rangos de edad</h4>
          <div class="item">
            <h5><%= @polygon.rangos_low %>%</h5>
            <p><a href="#">12-29 años</a></p>
          </div>
          <div class="item">
            <h5><%= @polygon.rangos_high %>%</h5>
            <p><a href="#">30-60+ años</a></p>
          </div>
          <div class="more-info more-info-rangos">
            <a href="#" class="close"></a>
            <h3>Rangos de Edad</h3>
            <table class="table table-bordered rangos-ed">
              <tr>
                <th class="nb-r"><%= ((@polygon.cero_doce * 100).to_f.to_f / @polygon.population).round %>%</th>
                <th class="cb-l cb-t"><%= ((@polygon.doce_catorce * 100).to_f / @polygon.population).round %>%</th>
                <th class="cb-t"><%= ((@polygon.quince_diecinueve * 100).to_f / @polygon.population).round %>%</th>
                <th class="cb-t"><%= ((@polygon.veinte_veinticuatro * 100).to_f / @polygon.population).round%>%</th>
                <th class="cb-t cb-r"><%= ((@polygon.veinticinco_veintinueve * 100).to_f / @polygon.population).round %>%</th>
                <th><%= ((@polygon.treinta_cincuentainueve * 100).to_f / @polygon.population).round %>%</th>
                <th><%= ((@polygon.sesenta * 100).to_f / @polygon.population).round %>%</th>
              </tr>
              <tr>
                <td class="nb-r" nowrap>0-12</td>
                <td class="cb-l cb-b" nowrap>12-24</td>
                <td class="cb-b" nowrap>15-19</td>
                <td class="cb-b" nowrap>20-24</td>
                <td class="cb-r cb-b" nowrap>25-29</td>
                <td nowrap>30-59</td>
                <td nowrap>60+</td>
              </tr>
              <tr>
                <td nowrap><%= number_with_delimiter(@polygon.cero_doce) %></td>
                <td nowrap><%= number_with_delimiter(@polygon.doce_catorce) %></td>
                <td nowrap><%= number_with_delimiter(@polygon.quince_diecinueve) %></td>
                <td nowrap><%= number_with_delimiter(@polygon.veinte_veinticuatro) %></td>
                <td nowrap><%= number_with_delimiter(@polygon.veinticinco_veintinueve) %></td>
                <td nowrap><%= number_with_delimiter(@polygon.treinta_cincuentainueve) %></td>
                <td nowrap><%= number_with_delimiter(@polygon.sesenta) %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="item">
          <h4>Nivel Socioeconomico</h4>
          <h5><%= @polygon.ses %></h5>
          <p>(Prom.)</p>
        </div>
        <div class="item">
          <h4>escolaridad</h4>
          <h5><%= @polygon.scholarity %></h5>
          <p>(Prom.)</p>
        </div>
        <div class="set nos">
          <div class="item">
            <h4>Economía</h4>
            <div class="ico">
              <img src="images/ico_m_1.png" alt="">
              <!-- <div class="count rr">7</div> -->
            </div>
            <p style="margin-top: 10px;"><a href="#">Actividades</a></p>
            <div class="more-info">
              <a href="#" class="close"></a>
              <h3>Principales Actividades</h3>
              <div class="content">
                <h6>Productivas</h6>
                <ul>
                  <li><%= @polygon.prod_act %></li>
                </ul>
                <h6>económicas</h6>
                <ul>
                  <li><%= @polygon.econ_act %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item pl">
            <h4>eventos</h4>
            <div class="ico">
              <img src="images/ico_m_2.png" alt="">
              <!-- <div class="count">2</div> -->
            </div>
            <p style="margin-top: 10px;"><a href="#" id="trigger-calendar">Programa</a></p>
          </div>
        </div>
        <div class="item pl" style="position:relative">
          <h4>recorridos</h4>
          <div class="ico">
            <img src="images/ico_m_3.png" alt="">
            <div class="count"><%= @polygon.tours.count %></div>
          </div>
          <p style="margin-top: 10px;">Trazos</p>
          <div class="more-info-tour">
                <a href="#" class="close"></a>
                <h3>Recorridos</h3>
                <div class="content">
                  <h6>Pasados</h6>
                  <ul class="ruta-ul">
                    <% @polygon.tours.where("created_at < '#{Date.today}'").each do |tour|%>
                      <style>
                        #ruta_<%= tour.id %>:before {
                            color: <%=tour.colors || "white"%>; /* or whatever color you prefer */
                        }
                      </style>
                      <li id="ruta_<%=tour.id%>" class="ruta-color" onclick="$(this).toggleClass(&quot;act&quot;)">
                        <label for="ruta_<%= tour.id %>_checkbox">
                          <%= tour.name %>
                          <input type="checkbox" class="ruta-checkbox" id="ruta_<%= tour.id %>_checkbox" autocomplete="off">
                        </label>
                          <span class="glyphicon glyphicon-info-sign" style="margin-left: 15px;" id="info_<%= tour.id %>" onclick="$(&quot;.info-<%= tour.id %>&quot;).show()"></span>
                      </li>
                    <% end %>
                  </ul>
                  <h6>Futuros</h6>
                  <ul class="ruta-ul">
                    <% @polygon.tours.where("created_at >= '#{Date.today}'").each do |tour|%>
                      <style>
                        #ruta_<%= tour.id %>:before {
                            color: <%=tour.colors || "white"%>; /* or whatever color you prefer */
                        }
                      </style>
                      <li id="ruta_<%=tour.id%>" class="ruta-color" onclick="$(this).toggleClass(&quot;act&quot;)">
                        <label for="ruta_<%= tour.id %>_checkbox">
                          <%= tour.name %>
                          <input type="checkbox" class="ruta-checkbox" id="ruta_<%= tour.id %>_checkbox" autocomplete="off">
                        </label>
                        <span class="glyphicon glyphicon-info-sign" style="margin-left: 15px;" id="info_<%= tour.id %>" onclick="$(&quot;.info-<%= tour.id %>&quot;).show()"></span>
                      </li>
                    <% end %>
                  </ul>
                </div>
          </div>
        </div>
        <div class="item pl" style="position:relative">
          <h4>transporte</h4>
          <div class="ico">
            <img src="images/ico_m_4.png" alt="">
            <div class="count rr"><%= @polygon.rutas.split(",").count %></div>
          </div>
          <p style="margin-top: 10px;"><a href="#">Rutas</a></p>
          <div class="more-info-rutas">
              <a href="#" class="close"></a>
              <h3>Rutas</h3>
              <div class="content">
                <ul>
                  <% @polygon.rutas.split(",").each do |ruta|%>
                    <li><%= ruta %></li>
                  <% end %>
                </ul>

              </div>
          </div>
        </div>
        <!-- <div class="item">
          <h4>Documentos</h4>
          <div class="ico">
            <img src="images/ico_m_5.png" alt="">
          </div>
          <p><a href="#">Archivos e Imagenes</a></p>
        </div> -->
      </div>
    </div>
    <div class="report-problem-bar" style="display: none">
      <h3>Ubicación del Problema</h3>
      <h3 class="marker-instructional-text">Selecciona un punto en el mapa<h3>
    </div>
  </div>
  <div class="map-view" id="mainMap">
    Map
  </div>
</div>
    <% @polygon.problems.where("coords is not null AND coords <> '--- \n...\n'").each_with_index do |problem, index| %>
      <div class="details-2 problem-<%= problem.id %>" style="display: none">
        <% imagebg = problem.image.present? ? "background-image: url('#{problem.image.url }');" : "background-color: #A9A9A9;" %>
        <div class="problem-detail collapsed" style="<%= imagebg %>" id="problem_<%=problem.id%>">
            <a class="close" href="#"></a>
            <div class="excerpt-container">
                <div class="detail-heading">
                    <span class="category-title"><%= problem.category.name %></span>
                </div>
                <div class="title">
                    <%= problem.name %>
                </div>
                <div class="excerpt">
                    <p><%= problem.description %></p>
                </div>
                <div class="excerpt-info" id="problem_detail_<%=problem.id%>">
                    <div class="excerpt-brief">
                        <span class="info-1"><%= number_with_delimiter(problem.affected_population) %> Afectados</span>
                        <span class="info-separator">·</span>
                        <span class="info-2"><%= problem.matority %></span>
                        <a href="javascript:void(0);" class="info-toggle expand">Más información <i class="toggle-control"></i></a>
                        <a href="javascript:void(0);" class="info-toggle collapse">Ocultar <i class="toggle-control"></i></a>
                    </div>
                    <div class="excerpt-detail">

                      <div class="info-column column-1">
                          <div class="sub-title">
                              Posibles causas
                          </div>
                          <div class="column-detail">
                             <ul>
                                <% problem.cause.split("|").each do |causa|%>
                                  <li><%= causa %></li>
                                <% end if problem.cause %>
                              </ul>
                          </div>
                      </div>
                      <div class="info-column column-2">
                          <div class="sub-title">
                              Efectos que provoca
                          </div>
                          <div class="column-detail">
                              <ul>
                                <% problem.effects.split("|").each do |causa|%>
                                  <li><%= causa %></li>
                                <% end if problem.effects%>
                              </ul>
                          </div>
                      </div>
                      <div class="excerpt-stats">
                          <div class="problem-detail-column">
                              <span class="sub-title">
                                  Afecta
                              </span>
                              <div class="detail-container">
                                  <%= problem.houses %>
                              </div>
                              <span class="units">
                                  Casas
                              </span>
                          </div>
                          <div class="problem-detail-column">
                              <span class="sub-title">
                                  Frecuencia
                              </span>
                              <div class="detail-container">
                                  <img src="images/icons/icn-cycle.png" alt="Cíclica">
                              </div>
                              <span class="units">
                                  <%= problem.frecuency %>
                              </span>
                          </div>
                          <div class="problem-detail-column">
                              <span class="sub-title">
                                  Costo del problema
                              </span>
                              <div class="detail-container">
                                  <%= number_to_currency(problem.costs) %>
                              </div>
                              <span class="units">
                                  Pesos anuales (aprox.)
                              </span>
                          </div>
                          <!-- <div class="problem-detail-column">
                              <span class="sub-title">
                                  Galería
                              </span>
                              <div class="detail-container">
                                  <a href="#"><img src="images/icons/icn-gallery.png" alt="Galería"></a>
                              </div>
                              <span class="units">
                                  Fotos y video
                              </span>
                          </div> -->
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solution-list">
          <div class="solucion-header">
            <div style="float:left">
              <p class="loc"><%= problem.alternatives.count%> Alternativa(s) | <%= problem.alternatives.where(:solution => true).count%> Proyecto(s)</p>
            </div>
            <div style="float:right">
              <div class="report">
                <a href="#report">Participar</a>
              </div>
            </div>
          </div>
          <% problem.alternatives.each do |alternative| %>
            <div class="alternative-container">
              <div class="solution-detail">
                <div class="solution-item">
                  <h1><%= alternative.name %></h1>
                  <p class="location">
                    <span class="solution-user">
                      <%= alternative.user.username if alternative.user %>
                    </span> &middot; <%= time_ago_in_words(alternative.created_at) %>
                  </p>
                  <p class="explicacion">ACCIONES PRINCIPALES</p>
                  <p><%= alternative.description %></p>
                </div>
                <div class="social">
                  <table>
                    <tr>
                      <td>
                          <img src="images/social.png" alt="">
                      </td>
                    </tr>
                    <tr style="height: 75px;vertical-align: bottom;">
                      <td>
                        <% if alternative.solution %>
                          <a class="project info-toggle expand" data-toggle-target='project-info-<%= alternative.id %>' href="javascript:void(0);">Más información del proyecto<i class="toggle-control"></i></a>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <% if alternative.solution %>
                <div class="project-info-<%= alternative.id %> project-info-detailed" style="display:none" id="project-info-<%= alternative.id %>">
                  <h2>Información de la Matriz</h2>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <div style="float:left;width: 100%;text-align: center;">
                            <p class="explicacion">APORTACIÓN A LA ESTRATEGIA SECTORIAL O NACIONAL</p>
                            <%= alternative.end %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <div style="float:left;width: 100%;text-align: center;">
                            <p class="explicacion">OBJETIVO GENERAL</p>
                            <%= alternative.porpuse %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <div style="float:left;width: 100%;text-align: center;">
                            <p class="explicacion">OBJETIVO ESPECIFICO</p>
                            <ul>
                              <% alternative.components.split("|").each do |causa|%>
                                <li style="text-align: left;"><%= causa %></li>
                              <% end if alternative.components %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  <h2>Fuentes de financiamiento</h2>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div style="float:left;width: 100%;text-align: center;">
                          <p class="explicacion">NOMBRE</p>
                          <%= alternative.fin_name %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div style="float:left;width: 100%;text-align: center;">
                          <p class="explicacion">TELEFONO</p>
                          <%= alternative.fin_tel %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div style="float:left;width: 100%;text-align: center;">
                          <p class="explicacion">EMAIL</p>
                          <%= mail_to alternative.fin_mail %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div style="float:left;width: 100%;text-align: center;">
                          <p class="explicacion">WEBPAGE</p>
                          <%= link_to alternative.fin_web, alternative.fin_web, :target => "_blank" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2>Presupuesto</h2>
                  <div style="display:block">
                    <div style="float:left;width: 50%;text-align: center;">
                      <p class="explicacion">PRESUPUESTO CONTEMPLADO</p>
                      <%= number_to_currency(alternative.budget_expected) %>
                      <p class="explicacion">FECHA DE INICIO</p>
                      <%= l alternative.start_date, :format => :short_datetime if alternative.start_date %>
                    </div>
                    <div style="float:right;width: 50%;text-align: center;">
                      <p class="explicacion">PRESUPUESTO ASIGNADO</p>
                      <%= number_to_currency(alternative.assigned_budget) %>
                      <p class="explicacion">FECHA DE TERMINO ESTIMADA</p>
                      <%= l alternative.end_date, :format => :short_datetime if alternative.end_date %>
                    </div>
                  </div>
                  <h2>Beneficiarios</h2>
                  <div style="display:block">
                    <div style="float:left;width: 50%;text-align: center;">
                      <p class="explicacion">POBLACION BENEFICIADA</p>
                      <%= number_with_delimiter(alternative.quantity_benefited) || "N/D" %>
                    </div>
                    <div style="float:right;width: 50%;text-align: center;">
                      <p class="explicacion">GRUPO DE EDAD BENEFICIADO  </p>
                      <%= alternative.group_benefited || "N/D" %>
                    </div>
                  </div>
                  <h2>La institución responsable de implementar el proyecto</h2>
                  <p class="explicacion">ACTOR PRINCIPAL</p>
                  <%= alternative.actor.name if alternative.actor %>
                  <% if alternative.actors.present? %>
                    <p class="explicacion">ACTORES RELACIONADOS</p>
                  <% end %>
                  <table class="table">
                    <% alternative.actors.each do |actor| %>
                      <tr>
                        <td><%= actor.name %></td>
                        <td><%= actor.phone %></td>
                        <td><%= actor.email %></td>
                        <td><%= link_to actor.website, actor.website, :target => "_blank" %></td>
                      </tr>
                    <% end %>
                  </table>
                  <h2>Archivos</h2>
                  <% if alternative.budget_expected_pdf.present? %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Desglose del presupuesto esperado</h3>
                      </div>
                      <div class="panel-body">
                        <%= link_to alternative.budget_expected_pdf.file.filename, alternative.budget_expected_pdf_url, :target => "_blank" %>
                      </div>
                    </div>
                  <% end %>
                  <% if alternative.assigned_budget_pdf.present? %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Desglose del presupuesto asignado</h3>
                      </div>
                      <div class="panel-body">
                        <%= link_to alternative.assigned_budget_pdf.file.filename, alternative.assigned_budget_pdf_url, :target => "_blank" %>
                      </div>
                    </div>
                  <% end %>
                  <% if alternative.resume.present? %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Resumen ejecutivo</h3>
                      </div>
                      <div class="panel-body">
                        <%= link_to alternative.resume.file.filename, alternative.resume_url, :target => "_blank" %>
                      </div>
                    </div>
                  <% end %>
                  <% if alternative.crono.present? %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Cronograma</h3>
                      </div>
                      <div class="panel-body">
                        <%= link_to alternative.crono.file.filename, alternative.crono_url, :target => "_blank" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
<div class="unsuppoted hide">
  <div class="container">
    <h2>Usted está utilizando un navegador no compatible <small><br/>Por favor actualice a una de las siguientes opciones</small></h2>
    <div class="text-center">
      <a href="#"><img width="50" height="50" src="https://cdn1.iconfinder.com/data/icons/fs-icons-ubuntu-by-franksouza-/64/google-chrome.png" alt=""></a>
      <a href="#"><img width="50" height="50" src="https://cdn1.iconfinder.com/data/icons/humano2/72x72/apps/firefox-icon.png" alt=""></a>
      <a href="#"><img width="64" height="64" src="https://cdn1.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/64/safari_64.png" alt=""></a>
    </div>
  </div>
</div>
<div class="details-2 calen" id="calendar-container" style="display: none">
  <a class="close" href="#">X</a>
  <div class="documents_container">
    <div class="page-header">
      <h1>Calendario <small>de Eventos</small></h1>
    </div>
    <div id="calendar"></div>
  </div>
</div>
<div class="details-2 video" id="video-container" style="display: none">
  <a class="close" href="#">X</a>
  <div class="videos_container" style="margin: 50px">
    <div class="page-header">
      <h1>Videos</h1>
    </div>
    <div id="video">
      <table class="table table-hover">
        <tr>
          <th>Nombre</th>
          <th>Url</th>
        </tr>
        <% @polygon.videos.each do |video| %>
          <tr>
            <td><%= video.name %></td>
            <td><a href="<%= video.url %>" target="_blank"><%= video.url %></a></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="details-2 docs" id="docs-container" style="display: none">
  <a class="close" href="#">X</a>
  <div class="docs_container" style="margin: 50px">
    <div class="page-header">
      <h1>Documentos</h1>
    </div>
    <div id="doc">
      <table class="table table-hover">
        <tr>
          <th>Nombre</th>
          <th>Archivo</th>
        </tr>
        <% @polygon.documents.each do |doc| %>
          <tr>
            <td><%= doc.name %></td>
            <td><%= link_to doc.name, doc.file.url, :target => "_blank"%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="details-2 galleries" id="arbol-container" style="display: none">
  <a class="close" href="#">X</a>
  <div class="documents_container">
    <div class="page-header">
      <h1>Arboles</h1>
    </div>
    <div id="links-arbol">
      <% @polygon.trees.each do |tree| %>
        <%= link_to tree.file_url, :title => tree.name do %>
            <%= image_tag tree.file_url(:thumb) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="documents_container">
    <div class="page-header">
      <h1>Fotos</h1>
    </div>
    <div id="links-fotos">
      <% @polygon.images.each do |image| %>
        <%= link_to image.image_url, :title => image.name do %>
            <%= image_tag image.image_url(:thumb) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- Routes Info -->
<% @polygon.tours.each_with_index do |tour, index| %>
  <div class="details-2 calen info-<%= tour.id %>" style="display: none">
    <a class="close" href="#" onclick="$(this).parent().hide()">X</a>
    <div class="page-header" style="margin: 40px 33px 20px;">
      <div class="solution-detail">
        <div class="solution-item" style="width:90%">
          <h1><%= tour.name %></h1>
          <p class="explicacion">DESCRIPCION</p>
          <p><%= tour.description %></p>
          <p class="explicacion">FECHA DE INICIO</p>
          <p><%= l tour.start_date, :format => :short_datetime if tour.start_date %></p>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
<% end %>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<script>
  var polyCoords;
  var polyColor = "<%= @polygon[:colors] %>";
  var allEvents = <%= @events.to_json.html_safe %>;
  var polyinfo  = '<div class="error"><h2><%=h truncate(@polygon.name, :length => 26) %></h2><p id="verInfo" onclick="$(&quot;.poligon-info&quot;).show()">Ver Más Información</p></div>';
  var coordsVal = <%= raw @polygon.coords %>;
  if ( typeof coordsVal === 'string') {
    polyCoords = JSON.parse(coordsVal);
  }
  var test = <%= raw @polygon.problems.where("coords is not null AND coords <> '--- \n...\n'").map{|problem| problem.coords.html_safe } %>;
  var data = [ // map data
      <% @polygon.problems.where("coords is not null AND coords <> '--- \n...\n'").each_with_index do |problem, index| %>

      {
        'id':<%=problem.id%>,
        'content':'\
          <div class="itemb">\
            <div class="red">\
              <h2><%=h truncate(problem.name, :length => 35) %></h2>\
              <p class="problem-location"><%= @polygon.name %>, <%= @polygon.city_id %></p>\
              <a href="#" class="info-toggle expand" onclick="$(\'.problem-<%=problem.id%>\').show();">Más información <i class="toggle-control"></i></a>\
            </div>\
            <div class="bottom-content">\
              <div class="left"><%= problem.alternatives.count %> Alternativas </div>\
              <div class="like">0</div>\
            </div>\
          </div>',
        'category': <%=problem.category_id%>,
        'position': {
          'lat':JSON.parse(test[<%=index%>])["k"],
          'lng':JSON.parse(test[<%=index%>])["A"] || JSON.parse(test[<%=index%>])["B"]
         },
        'public' : <%= problem.public %>
      },
      <% end %>
    ];
  var actorsdata = <%= raw @polygon.actors.where("coords is not null AND coords <> '--- \n...\n'").map{|actor| actor.coords.html_safe } %>;
  var actores = [ // map data
      <% @polygon.actors.where("coords is not null AND coords <> '--- \n...\n'").each_with_index do |actor, index| %>

      {
        'id':<%=actor.id%>,
        'content':'\
        <div class="itemb">\
            <div class="red">\
              <span class="actor-name"><%= link_to actor.name, actor.website, :target=>"_blank" %></span>\
            </div>\
            <div class="bottom-content">\
              <p class="info-data__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">\
                  <span class="info-data-text info-data__address_street" itemprop="streetAddress"><%= actor.address%></span>\
                  <span class="info-data-text info-data__address_locality" itemprop="addressLocality"><%= actor.city%></span>\
                  <span class="info-data-text info-data__address_region" itemprop="addressRegion">JAL</span>\
                  <span class="info-data-text info-data__address_phone" itemprop="streetAddress"><%= actor.phone%></span>\
                </p>\
                <p class="social-links">\
                    <a href="<%= actor.facebook%>" target="_blank" class="facebook"><img src="/assets/icons/facebook.png"></a>\
                    <a href="<%= actor.twitter%>" target="_blank" class="facebook"><img src="/assets/icons/twitter.png"></a>\
                </p>\
            </div>\
          </div>',
        'category': 1,
        'position': {
          'lat':JSON.parse(actorsdata[<%=index%>])["k"],
          'lng':JSON.parse(actorsdata[<%=index%>])["A"] || JSON.parse(actorsdata[<%=index%>])["B"]
         }
      },
      <% end %>
    ]
  var tours = [
    <% @polygon.tours.each_with_index do |tour, index| %>
    {
      'id':<%=tour.id%>,
      'coords':  <%=raw tour.coordinates %>,
      'color': '<%= tour.colors || "#FFFFFF"%>',
    },
    <% end %>
  ]
</script>
