<%= link_to "Crear Usuario", users_path  if is_admin?%>
Logged in as <%= current_user.email %>.
<%= link_to 'Editar Usuario', edit_user_path(current_user) %> |
<%= link_to "Log Out", logout_path %> 

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<h1>Listado de Encuestas</h1>

<table class="table table-hover">
  <tr>
    <th>Usuario</th>
    <th>Fecha</th>
    <th colspan="2" align="center">Acciones</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr class="<%= cycle("success", "info")%>">
    <td><%= survey.user.username if survey.user %></td>
    <td><%= survey.created_at.in_time_zone('America/Mexico_City').strftime("%d de %b %H:%M")%>
    <td><%= link_to 'Editar', edit_survey_path(survey) %></td>
    <td><%= link_to 'Borrar', survey, :confirm => 'Are you sure?', :method => :DELETE if is_admin?%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Encuesta', new_survey_path %>
