<div class="page-header">
  <h1>Listado de Encuestas</h1>
</div>

<table class="table table-hover table-striped">
  <tr>
    <th>Usuario</th>
    <th>Fecha</th>
    <th colspan="2" align="center">Acciones</th>
  </tr>

<% @surveys.each do |survey| %>
  <tr class="<%= cycle("success", "info")%>">
    <td><%= survey.user.username if survey.user %></td>
    <td><%= survey.created_at.in_time_zone('America/Mexico_City').strftime("%d de %b %H:%M")%>
    <td><%= link_to 'Editar', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>