<% title "Admin/Categories" %>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.parent_id %></td>
      <td><%= link_to "Show", [:admin, category] %></td>
      <td><%= link_to "Edit", edit_admin_category_path(category) %></td>
      <td><%= link_to "Destroy", [:admin, category], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Category", new_admin_category_path %></p>
