<%= form_for [:admin, :polygon, @document], :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :polygon_id %>
  <%= f.label :name, "Nombre" %>
  <p>
    <%= f.text_field :name %>
  </p>
  <%= f.label :file, "Archivo" %>
  <p>
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.file_field :visible %>
  </p>
  <p><%= f.submit %></p>
<% end %>
