<%= form_for [:admin, :polygon, @document], :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :polygon_id %>
  <div class="form-group">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :file, "Archivo" %>
    <%= f.file_field :file, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :visoble, "Visible a" %>
    <%= f.select :visible, ['Publico', 'Capacitador'], {:include_blank => "-- Selecciona"}, {:class => "form-control"} %>
  </div>
  <p><%= f.submit  "Guardar", :class => 'btn btn-success' %></p>
<% end %>
