<% title "Admin/Documents" %>

<table>
  <tr>
    <th>Name</th>
    <th>Visible</th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= document.name %></td>
      <td><%= document.visible %></td>
      <td><%= link_to "Show", [:admin, document] %></td>
      <td><%= link_to "Edit", edit_admin_document_path(document) %></td>
      <td><%= link_to "Destroy", [:admin, document], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Document", new_admin_document_path %></p>
