<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left">Características del Polígono</div>
        <div class="widget-icons pull-right">
          <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <%= form_for [:admin, @polygon], :html => { :class => "", :role => "form" } do |f| %>
          <div class="padd">
              <div class="form-group">
                <%= f.label :name, "Nombre del Polígono" %>
                <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Nombre del Polígono" %>
              </div>

              <input type="hidden" id="mapCoords">
              <input type="hidden" id="PolygonColors">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :population, "Cantidad de población" %>
                    <%= f.text_field :population, :class => "form-control input-lg", :placeholder => "Cantidad de población" %>
                  </div>
                </div>

              </div>

              <h4>Población por género</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :men_pop, "Hombre" %>
                    <%= f.text_field :men_pop, :class => "form-control input-lg", :placeholder => "Hombre" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :women_pop, "Mujer" %>
                    <%= f.text_field :women_pop, :class => "form-control input-lg", :placeholder => "Mujer" %>
                  </div>
                </div>
              </div>

              <h4>Rangos de edad</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%#= f.label :women_pop, "0-12 años" %>
                    <%#= f.text_field :women_pop, :class => "form-control input-lg", :placeholder => "0-12 años" %>
                    <label for="">0-12 años</label>
                    <input type="text" class="form-control" placeholder="0-12 años">
                  </div>
                  <div class="form-group">
                    <label for="">15-19 años</label>
                    <input type="text" class="form-control" placeholder="15-19 años">
                  </div>
                  <div class="form-group">
                    <label for="">25-29 años</label>
                    <input type="text" class="form-control" placeholder="25-29 años">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">12-14 años</label>
                    <input type="text" class="form-control" placeholder="12-14 años">
                  </div>
                  <div class="form-group">
                    <label for="">20-24 años</label>
                    <input type="text" class="form-control" placeholder="20-24 años">
                  </div>
                  <div class="form-group">
                    <label for="">30-59 años</label>
                    <input type="text" class="form-control" placeholder="30-59 años">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">60 años y más</label>
                    <input type="text" class="form-control" placeholder="60 años y más">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Edad promedio de los habitantes</label>
                    <input type="text" class="form-control" placeholder="Edad promedio de los habitantes">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :life_span, "Esperanza de vida de los habitantes" %>
                    <%= f.text_field :life_span, :class => "form-control input-lg", :placeholder => "Esperanza de vida de los habitantes" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :ses, "Nivel socioeconómico" %>
                    <select name="polygon[ses]" id="input" class="form-control" required="required">
                      <option>-- Seleccionar</option>
                      <option value="Muy Bajo">Muy Bajo</option>
                      <option value="Bajo">Bajo</option>
                      <option value="Medio">Medio</option>
                      <option value="Alto">Alto</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :scholarity, "Nivel de escolaridad promedio" %>
                    <%= f.text_field :scholarity, :class => "form-control input-lg", :placeholder => "Nivel de escolaridad promedio" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :prod_act, "Principales actividades productivas locales" %>
                    <%= f.text_field :prod_act, :class => "form-control input-lg", :placeholder => "Principales actividades productivas locales" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :econ_act, "Principales actividades económicas locales" %>
                    <%= f.text_field :econ_act, :class => "form-control input-lg", :placeholder => "Principales actividades económicas locales" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Rutas de transporte público</label>
                    <textarea class="form-control" rows="5" placeholder="Rutas de transporte público"></textarea>
                  </div>
                </div>
              </div>
          </div>
          <div class="widget-foot text-center">
            <%= f.submit "Guardar", :class => 'btn btn-success' %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if params[:id].present? %>
  <div class="row" style="">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-head">
          <div class="pull-left">Archivos</div>
          <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="widget-content">
          <div class="padd">
            <div class="tabbable" style="margin-bottom: 18px;">
              <ul class="nav nav-tabs">
                <li><a href="#documentos" data-toggle="tab">Documentos</a></li>
                <li><a href="#fotos" data-toggle="tab">Fotos</a></li>
                <li><a href="#videos" data-toggle="tab">Videos</a></li>
                <li class="active"><a href="#calendario" data-toggle="tab">Calendario</a></li>
                <li><a href="#arboles" data-toggle="tab">Arboles</a></li>
              </ul>
              <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane" id="documentos">
                  <button class="btn btn-sm btn-primary pull-right">Agregar Documento</button>
                  <h4>Documentos</h4>
                  <hr>
                  <table id="datatable" class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Previcidad</th>
                        <th>Tamaño</th>
                        <th class="text-center">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Documento 1</td>
                        <td>PDF</td>
                        <td>Capacitadores</td>
                        <td>15.57 (KB)</td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Documento 2</td>
                        <td>DOC</td>
                        <td>Publico</td>
                        <td>15.57 (KB)</td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Documento 3</td>
                        <td>DOC</td>
                        <td>Capacitadores</td>
                        <td>15.57 (KB)</td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="fotos">
                  <button class="btn btn-sm btn-primary pull-right">Agregar Foto</button>
                  <h4>Fotos</h4>
                  <hr>
                  <div class="gallery">
                    <!-- Full size image link in anchor tag. Thumbnail link in image tag. -->
                    <a href="img/photos/s1.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t1.jpg" alt=""></a>
                    <a href="img/photos/s2.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t2.jpg" alt=""></a>
                    <a href="img/photos/s3.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t3.jpg" alt=""></a>
                    <a href="img/photos/s4.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t4.jpg" alt=""></a>
                    <a href="img/photos/s5.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t5.jpg" alt=""></a>
                    <a href="img/photos/s6.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t6.jpg" alt=""></a>
                    <a href="img/photos/s7.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t7.jpg" alt=""></a>
                    <a href="img/photos/s8.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t8.jpg" alt=""></a>
                    <a href="img/photos/s9.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t9.jpg" alt=""></a>
                    <a href="img/photos/s10.jpg" class="prettyPhoto[pp_gal]"><img src="img/photos/t10.jpg" alt=""></a>
                  </div>
                </div>
                <div class="tab-pane" id="videos">
                  <button class="btn btn-sm btn-primary pull-right">Agregar Video</button>
                  <h4>Videos</h4>
                  <hr>
                  <table id="datatable" class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th class="text-center">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Children International</td>
                        <td><span class="label label-info">Actore</span></td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>PROBLEMA_IUUJK_JDS</td>
                        <td><span class="label label-danger">Problema</span></td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>ALTERNATIVA_IUUJK_JDS</td>
                        <td><span class="label label-success">Alternativa</span></td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane active" id="calendario">
                  <div class="widget">
                    <div class="widget-head">
                      <div class="pull-left">Polígonos</div>
                      <div class="widget-icons pull-right">
                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <div class="padd">
                        <div id="calendar"></div>
                      </div>
                      <div class="widget-foot">
                        <br><br>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="arboles">
                  <button class="btn btn-sm btn-primary pull-right">Agregar Archivo</button>
                  <h4>Arboles</h4>
                  <hr>
                  <table id="datatable" class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th class="text-center">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Children International</td>
                        <td><span class="label label-info">Actore</span></td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>PROBLEMA_IUUJK_JDS</td>
                        <td><span class="label label-danger">Problema</span></td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>ALTERNATIVA_IUUJK_JDS</td>
                        <td><span class="label label-success">Alternativa</span></td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                          <button class="btn btn-xs btn-default"><i class="fa fa-times"></i> </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>