<div class="page-head">
  <h2 class="pull-left">Grupos</h2>
  <div class="pull-right">
    <a class="btn btn-primary btn-add-polygon" href="/admin/groups/new">Crear Nuevo Grupo</a>
  </div>
  <div class="clearfix"></div>
  <!-- Breadcrumb -->
  <div class="bread-crumb">
    <a href="/admin/dashboard"><i class="fa fa-home"></i> Inicio</a>
    <!-- Divider -->
    <span class="divider">/</span>
    <a href="#" class="bread-current">Grupos</a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="matter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget">
          <div class="widget-head">
            <div class="pull-left">Listado de Grupos</div>
            <div class="widget-icons pull-right">
              <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget-content">
            <div class="table-responsive">
              <table id="datatable" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Estado</th>
                    <th>Municipio</th>
                    <th class="text-center">Facebook</th>
                    <th class="text-center">Twitter</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% for group in @groups %>
                    <tr>
                      <td><%= group.name %></td>
                      <td><%= group.phone %></td>
                      <td><%= group.email %></td>
                      <td><%= group.profesion %></td>
                      <td class="text-center">
                        <%= link_to edit_admin_group_path(group), class: "btn btn-xs btn-primary" do %>
                          <i class="fa fa-pencil"></i> Editar
                        <% end %>
                        <%= link_to [:admin, group], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-xs btn-danger" do %>
                          <i class="fa fa-times"></i> Borrar
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="widget-foot">
              <br><br>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
