<% title @polygon.name %>
<div class="page-head">
<h2 class="pull-left">Fotos</h2>
<div class="pull-right">

</div>
<div class="clearfix"></div>
<!-- Breadcrumb -->
<div class="bread-crumb">
  <a href="/admin/dashboard"><i class="fa fa-home"></i> Inicio</a>
  <!-- Divider -->
  <span class="divider">/</span>
  <a href="/admin/polygons"><i class="fa fa-map-marker"></i> Agregar Fotos</a>
  <span class="divider">/</span>
  <a href="#" class="bread-current">Agregar Fotos</a>
</div>

<div class="clearfix"></div>
</div>
<div class="matter">
  <div class="container">
    <div class="row" id="paintings">
      <div class="col-sm-12" id="gallery_grid">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><%= link_to @polygon.name, edit_admin_polygon_path(@polygon) %></h4>
          </div>
          <table id="dt_basic" class="table table-striped">
            <thead>
              <tr>
                <th>id</th>
                <th>Preview</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% for image in @polygon.images %>
              <tr class="mix">
                <td><%= image.id %></td>
                <td>
                  <%= link_to image.image_url, class: 'img-thumbnail img_wrapper gal_lightbox' do %>
                    <%= image_tag(image.image.url(:thumb), :class => "img-responsive") %>
                  <% end %>
                </td>
                <td>
                  <%#= link_to "Editar", edit_admin_listing_image_path(@listing,image), :class => 'btn btn-primary' %>
                  <%= link_to "Borrar", admin_polygon_image_path(@polygon,image), :confirm => '¿Está seguro? ', :method => :delete, :class => 'btn btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= link_to "Añadir nueva foto", new_admin_polygon_image_path(:listing_id => @polygon.id), :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>