<% title "Admin/Trees" %>
<div class="page-head">
<h2 class="pull-left">Fotos</h2>
<div class="pull-right">

</div>
<div class="clearfix"></div>
<!-- Breadcrumb -->
<div class="bread-crumb">
  <a href="/admin/dashboard"><i class="fa fa-home"></i> Inicio</a>
  <!-- Divider -->
  <span class="divider">/</span>
  <a href="/admin/trees"><i class="fa fa-map-marker"></i> Agregar Documentos</a>
  <span class="divider">/</span>
  <a href="#" class="bread-current">Agregar Documentos</a>
</div>

<div class="clearfix"></div>
</div>
<div class="matter">
  <div class="container">
    <table>
      <tr>
        <th>Name</th>
        <th>Visible</th>
      </tr>
      <% for tree in @trees %>
        <tr>
          <td><%= tree.name %></td>
          <td><%= tree.visible %></td>
          <td><%= link_to "Show", [:admin, tree] %></td>
          <td><%= link_to "Edit", edit_admin_tree_path(tree) %></td>
          <td><%= link_to "Destroy", [:admin, tree], :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <p><%= link_to "New Admin/Document", new_admin_tree_path %></p>
  </div>
</div>