<% title "Admin/Videos" %>
<div class="page-head">
<h2 class="pull-left">Videos</h2>
<div class="pull-right">

</div>
<div class="clearfix"></div>
<!-- Breadcrumb -->
<div class="bread-crumb">
  <a href="/admin/dashboard"><i class="fa fa-home"></i> Inicio</a>
  <!-- Divider -->
  <span class="divider">/</span>
  <a href="/admin/polygons"><i class="fa fa-map-marker"></i> Agregar Videos</a>
  <span class="divider">/</span>
  <a href="#" class="bread-current">Agregar Videos</a>
</div>

<div class="clearfix"></div>
</div>
<div class="matter">
  <div class="container">
    <table>
      <tr>
        <th>Name</th>
        <th>Visible</th>
      </tr>
      <% for video in @videos %>
        <tr>
          <td><%= video.name %></td>
          <td><%= video.visible %></td>
          <td>
            <%= link_to "Show", [:admin, video] %>
            <%= link_to "Edit", edit_admin_video_path(video) %>
            <%= link_to "Destroy", [:admin, video], :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </table>
    <p><%= link_to "New Admin/Video", new_admin_video_path %></p>
  </div>
</div>