<!DOCTYPE html>
<html>
  <head>
    <title>Imjuve</title>
    <meta name="viewport" content="user-scalable=no, width=1190, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", "events", :media => "all" %>
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo.png"), root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <% if current_user %>
            <header id="header">
              <div class="container">
                <div class="right">
                  <div class="report">
                    <a href="#" class="report-trigger">Reportar un Problema</a>
                  </div>
                  <div class="reporte" style="display:none">
                    <a href="#reporte" class="report-trigger">Reportar un Problema</a>
                  </div>
                  <div class="user">
                    <a href="#"><img src="images/1.png" alt=""></a>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;height:30px;">
                      <li class="dropdown" id="menuUser">
                        <a href="#" class="drop dropdown-toggle" data-toggle="dropdown" id="navUser"></a>
                        <div class="dropdown-menu">
                          <%= link_to "Tablero de Control", "/admin"  if current_user.is_admin %>
                          <%= link_to "Salir", logout_path %>
                        </div>
                      </li>
                    <ul>
                  </div>
                </div>
                <div class="left">
                  <a href="#" id="logo" title="Redespierta tu barrio">Redespierta tu barrio</a>
                  <%= render 'nav_links' %>
                </div>
              </div>
              <!-- / container -->
            </header>
            <!-- / header -->
          <% else %>
            <%= render 'nav_links' %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="menuRegister">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navRegister">Ingresa</a>
                <div class="dropdown-menu">
                  <!-- <div class="social-login-title">Conéctate con</div>
                  <div class="row">
                    <div class="col-md-6">
                      <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook"></i>
                        <span class="hidden-xs">Facebook</span>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter"></i>
                        <span class="hidden-xs">Twitter</span>
                      </a>
                    </div>
                  </div>
                  <div class="form-title">ó Regístrate con tu Correo</div> -->
                  <%= form_tag sessions_path, {:id => 'formLogin'} do %>
                    <div class="form-group">
                      <input type="email" name="email" id="input" class="form-control input-lg" value="" required="required" title="" placeholder="Correo Electrónico">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="input" class="form-control input-lg" required="required" title="" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                      <%= submit_tag "Log In", class: "btn btn-info btn-block login" %>
                    </div>
                  <% end %>
                </div>
              </li>
              <li class="dropdown" id="menuLogin">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Participa</a>
                <div class="dropdown-menu">
                  <!-- <div class="social-login-title">Conéctate con</div>
                  <div class="row">
                    <div class="col-md-6">
                      <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook"></i>
                        <span class="hidden-xs">Facebook</span>
                      </a>
                    </div>
                    <div class="col-md-6">
                      <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter"></i>
                        <span class="hidden-xs">Twitter</span>
                      </a>
                    </div>
                  </div>
                  <div class="form-title">ó Regístrate con tu Correo</div> -->
                  <%= form_tag signup_path, {:id => 'formLogin'} do %>
                    <div class="form-group">
                      <input type="email" name="user[email]" id="input" class="form-control input-lg" value="" required="required" title="" placeholder="Correo Electrónico">
                    </div>
                    <div class="form-group">
                      <input type="password" name="user[password]" id="input" class="form-control input-lg" required="required" title="" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                      <%= submit_tag "Registrarme", class: "btn btn-block btn-lg btn-danger" %>
                    </div>
                  <% end %>
                  <div class="register-trigger text-center">
                    ¿Ya tienes cuenta? <a href="#">Ingresa aqui</a>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
          <!-- <form class="navbar-form navbar-right" role="logins">
            <button type="button" class="btn btn-primary pull-right">Participa</button>
            <button type="button" class="btn btn-default">Ingresa</button>
          </form> -->
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <%= render 'proyecto_pageslide' %>
    <%= render 'procesos_pageslide' %>
    <%= render 'contact_modal' %>
    <div class="popup fancybox-problem" id="reporte">
      <h3>Reporte de problema</h3>
      <%= form_for Problem.new, :url => save_problem_path(), :html => { :class => "", :role => "form" } do |f| %>
        <%= f.hidden_field :polygon_id, :value => @polygon.id %>
        <%= f.hidden_field :coords, :id=>"user_problem", :required=>"required" %>
        <%= f.hidden_field :public, :value => false %>
        <fieldset>
          <label>nombre del problema </label>
          <%= f.text_field :name, :required=>"required" %>
          <div class="public">
            <input type="checkbox">
            <label>Publicar como anónimo</label>
          </div>
        </fieldset>
        <fieldset>
          <label>Describe el problema </label>
           <%= f.text_area :description, :required=>"required" %>
        </fieldset>
        <fieldset>
          <label>Selecciona el tipo del problema</label>
          <%= f.grouped_collection_select(:category_id, ParentCategory.all, :categories, :name, :id, :name, { :include_blank => "Selecciona..." }, {:class => "form-control", :required=>"required"} ) %>
        </fieldset>
        <fielset>
            <div id="datetimepicker1" class="input-append">
            <%= f.text_field :fecha, :class => "form-control dtpicker", :placeholder => "Fecha del incidente", :"data-format"=>"yyyy-MM-dd", :style=>"max-width:150px; display: inline-block;", :value => @problem.fecha.present? ? @problem.fecha.strftime("%Y-%m-%d") : ""%>
            <span class="add-on">
              <i data-time-icon="fa fa-time" data-date-icon="fa fa-calendar" class="btn btn-info"></i>
            </span>
          </div>
          <div id="timepicker1" class="input-append">
            <%= f.text_field :hora, :class => "form-control dtpicker", :placeholder => "Hora del incidente", :"data-format"=>"hh:mm", :style=>"max-width:150px; display: inline-block;", :value => @problem.hora.present? ? @problem.hora.strftime("%I:%M") : ""%>
            <span class="add-on">
              <i data-time-icon="fa fa-time" data-date-icon="fa fa-calendar" class="btn btn-info"></i>
            </span>
          </div>
        </fieldset>
        <button type="submit" class="btn-red">Publicar</button>
      <% end %>
    </div>
    <!-- <div class="container"> -->
      <% if flash.present? %>

        <div class="alert alert-warning" style="margin-top: 55px;position: absolute;top: 55px;z-index: 1000;width: 100%;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    <!-- </div> -->
    <%= javascript_include_tag "application", "eventos" %>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="js/bootstrap-image-gallery.min.js"></script>
  </body>
</html>
