<!DOCTYPE html>
<html>
  <head>
    <title>Imjuve</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag "logo.jpg"%>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="menuRegister">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navRegister">Ingresa</a>
            </li>
            <li class="dropdown" id="menuLogin">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Participa</a>
              <div class="dropdown-menu">
                <div class="social-login-title">Conéctate con</div>
                <div class="row">
                  <div class="col-md-6">
                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                      <i class="fa fa-facebook"></i>
                      <span class="hidden-xs">Facebook</span>
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                      <i class="fa fa-twitter"></i>
                      <span class="hidden-xs">Twitter</span>
                    </a>
                  </div>
                </div>
                <div class="form-title">ó Regístrate con tu Correo</div>
                <form class="form" id="formLogin">
                  <div class="form-group">
                    <input type="email" name="" id="input" class="form-control input-lg" value="" required="required" title="" placeholder="Correo Electrónico">
                  </div>
                  <div class="form-group">
                    <input type="password" name="" id="input" class="form-control input-lg" required="required" title="" placeholder="Contraseña">
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-block btn-lg btn-danger">Registrárme</button>
                  </div>
                </form>
                <div class="register-trigger text-center">
                  ¿Ya tienes cuenta? <a href="#">Ingresa aqui</a>
                </div>
              </div>
            </li>
          </ul>
          <!-- <form class="navbar-form navbar-right" role="logins">
            <button type="button" class="btn btn-primary pull-right">Participa</button>
            <button type="button" class="btn btn-default">Ingresa</button>
          </form> -->
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- <div class="container"> -->
      <% if flash.present? %>

        <div class="alert alert-warning" style="margin-top: 15px;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    <!-- </div> -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
