<!DOCTYPE html>
<html>
<head>
  <title>Prueba</title>
  <%= stylesheet_link_tag 'event_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/events_header' %>
<%= yield %>

</body>
</html>