<!DOCTYPE html>
<html>
  <head>
    <title>Redespierta tu barrio</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application", "events", :media => "all" %>
    <%= stylesheet_link_tag "admin" %>
    <%= javascript_include_tag "admin" %>
    <link rel="icon" type="image/png" href="/images/icons/megafono.ico" />
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo.png"), root_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <% if current_user %>
            <header id="header" style="height: 68px;">
              <div class="container">
                <div class="right">
                  <div class="user">
                    <a href="#"><img src="images/no_photo.png" width="24px" alt=""></a>
                    <ul class="nav navbar-nav navbar-right" style="margin-right: -30px;height:30px;">
                      <li class="dropdown" id="menuUser">
                        <a href="#" class="drop dropdown-toggle" data-toggle="dropdown" id="navUser"></a>
                        <div class="dropdown-menu">
                          <%= link_to "Tablero de Control", "/admin"  if current_user.is_admin %>
                          <%= link_to "Salir", logout_path %>
                        </div>
                      </li>
                    <ul>
                  </div>
                </div>
                <div class="left">
                  <a href="/" id="logo" title="Redespierta tu barrio">Redespierta tu barrio</a>
                  <%#= render 'nav_links' %>
                  <div class="nav-links" style="margin-top: 15px;">
                      <a href="/indicadores_globales" style="padding-top:0px">Indicadores Globales</a>
                  </div>
                </div>
                <div class="row" >
                    <div class="col-md-5 col-xs-12 toolbar__form-group">
                      <div class="row" style="margin-left: 95px;">
                        <div class="col-md-6 col-xs-6 toolbar__form-group toolbar__form-group-field">
                          <div class="toolbar__label">Estado</div>
                            <%= select_tag :estado, options_from_collection_for_select(@states, "id", "name", @polygon.state_id), :prompt => "Selecciona el Estado", :class=>"form-control select2-control", :id=>"polygon_state_id" %>
                        </div>
                        <div class="col-md-6 col-xs-6">
                          <div class="toolbar__label">Polígono</div>
                          <select id="polygon_select" class="form-control select2-control-exec">
                            <option></option>
                            <% if @polygon %>
                              <% for polygon in @polygons %>
                                <option value="<%= polygon.id %>" <%= "selected" if polygon.id == @polygon.id %>><%= polygon.name %></option>
                              <% end %>
                            <% end %>
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
              <!-- / container -->
            </header>
            <!-- / header -->
          <% else %>
            <%#= render 'nav_links' %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="menuRegister">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navRegister">Ingresa</a>
                <div class="dropdown-menu">
                  <%= form_tag sessions_path, {:id => 'formLogin'} do %>
                    <div class="form-group">
                      <input type="email" name="email" id="input" class="form-control input-lg" value="" required="required" title="" placeholder="Correo Electrónico">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="input" class="form-control input-lg" required="required" title="" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                      <%= submit_tag "Log In", class: "btn btn-info btn-block login" %>
                    </div>
                  <% end %>
                </div>
              </li>
              <li class="dropdown" id="menuLogin">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Participa</a>
                <div class="dropdown-menu">
                  <%= form_tag signup_path, {:id => 'formLogin'} do %>
                    <div class="form-group">
                      <input type="email" name="user[email]" id="input" class="form-control input-lg" value="" required="required" title="" placeholder="Correo Electrónico">
                    </div>
                    <div class="form-group">
                      <input type="password" name="user[password]" id="input" class="form-control input-lg" required="required" title="" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                      <%= submit_tag "Registrarme", class: "btn btn-block btn-lg btn-danger" %>
                    </div>
                  <% end %>
                  <div class="register-trigger text-center">
                    ¿Ya tienes cuenta? <a href="#">Ingresa aqui</a>
                  </div>
                </div>
              </li>
            </ul>
            <div class="nav-links" style="margin-top: 22px;color:white">
              <% if params[:action] != "graphs" %>
                <%= Polygon.find(params[:id]).name %>
              <% else %>
                indicadores globales
              <% end %>
            </div>
            <div class="row" >
              <div class="col-md-5 col-xs-12 toolbar__form-group">
                <div class="row" style="margin-left: 95px;">
                  <div class="col-md-6 col-xs-6 toolbar__form-group toolbar__form-group-field">
                    <div class="toolbar__label" style="color:white">Estado</div>
                      <%= select_tag :estado, options_from_collection_for_select(@states, "id", "name"), :prompt => "Selecciona el Estado", :class=>"form-control select2-control", :id=>"polygon_state_id" %>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <div class="toolbar__label" style="color:white">Polígono</div>
                    <select id="polygon_select" class="form-control select2-control-exec">
                      <% if @polygon %>
                        <% for polygon in @polygons %>
                          <option value="<%= polygon.id %>" <%= "selected" if polygon.id == @polygon.id %>><%= polygon.name %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- <div class="container"> -->
      <% if flash.present? %>

        <div class="alert alert-warning" style="margin-top: 15px;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    <!-- </div> -->
    <%= yield(:footer_scripts) %>
    <script>
    $('#polygon_state_id').change(function() {
      var data = $('#polygon_state_id').val();
      $.ajax({
        type: "POST",
        url: "http://"+location.host+"/dynamic_polygons/"+data,
        data: data,
      });
    });
    $('#polygon_select').change(function() {
      var data = $('#polygon_select').val();
      if (data != "") {
        window.location = "http://"+location.host+"/indicadores?id="+data;
      }
    });
    </script>
    <%#= javascript_include_tag "application" %>
  </body>
</html>